@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("SignInWithGoogle")">Sign In with Google OpenID</a>
<a href="@Url.Action("SignInWithFacebook")">Sign In with Facebook</a>