@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="@Url.Action("SignInWithGoogle")">Sign In with Google</a></li>
    <li><a href="@Url.Action("SignInWithFacebook")">Sign In with Facebook</a></li>
    <li><a href="@Url.Action("SignInWithTwitter")">Sign In with Twitter</a></li>
</ul>