@model AspNetMvcGoogleFacebookTwitterAuthExperiment.Models.SignInPageModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="@Model.GoogleAuthUrl">Google</a></li>
    <li><a href="@Model.FacebookAuthUrl">Facebook</a></li>
    <li><a href="@Model.TwitterAuthUrl">Twitter</a></li>
</ul>
