@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="@Url.Action("SignInWithGoogleOpenId")">Sign In with Google OpenID</a></li>
    <li><a href="@Url.Action("SignInWithGoogleOAuth2")">Sign In with Google OAuth2</a></li>
    <li><a href="@Url.Action("SignInWithFacebookOAuth2")">Sign In with Facebook OAuth2</a></li>
</ul>