<html>
    <head>
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />

        <title>Custom Help for WebApi</title>
    </head>
    <body>
        <div class="container">
        @RenderBody()
        </div>
    </body>
</html>